---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeDots from "@/components/icons/CodeDots.astro"
import Experience from "@/components/Experience.astro"
import UserHeart from "@/components/icons/UserHeart.astro"
import Projects from "@/components/Projects.astro"
import Certifications from "@/components/Certifications.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
---

<Layout
  title="Porfolio de Juan Socas - Ingeniero en Telecomunicaciones especializado en Ciberseguridad"
  description="Juan Socas Cedres - Ingeniero en Telecomunicaciones con especialidad en Ciberseguridad. Experiencia en pentesting, hardening, análisis de vulnerabilidades y seguridad ofensiva/defensiva."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeDots class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="certificaciones">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Certificaciones
      </TitleSection>
      <Certifications />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <UserHeart class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
